body {
    background-image: url(../images/forest-green-background.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
}

p {
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
}

table {
    margin: 0 auto;
    border-spacing:0;
}

tr, td {
    width : 100px;
    height : 100px;
    background-image: url(../images/wood-tile.JPG);
    background-size:     cover;
    background-repeat:   no-repeat;
    border: 1px solid black;
}

.pit {
    background-image: url("../images/wood-tile2.jpg");
}

.move {
    border : 5px solid gold;
    border-style : groove;
}

.interact {
    border : 5px solid aqua;
    border-style : groove;
}